.cabecalho{
    width: 100%;
    padding: 0 2rem;
    
    padding-bottom: 1rem;
}

.cabecalho__borda{
    border-bottom: 1px solid #8E2424;
}

.cabecalho__navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.3rem;
    position: relative;
}

.cabecalho__nav{
    padding-right: 2rem;
    color: var(--cor-fonte-principal);
}

.cabecalho__botao{
    display: none;
}

.cabecalho__conteudo{
    display: none;
}

.botao__nav{
    padding-right: 1rem;
    font-size: 1rem;
    
}

.botao__nav{
    color: var(--cor-fonte-principal);
}

.botao__botao{
    background-color: var(--cor-fonte-secundario);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}


.cabecalho__lista{
    display: none;
    background-color: #8E2424;
    width: 110px;
    position: absolute;
    right: auto;
    right: 2px;
    top: 50px;
    padding: 1rem;
    line-height: 2rem;
    
}

.cabecalho__botaoh:checked~.cabecalho__lista{
    display: block;
}

.cabecalho__botaoh{
    display: none;
}

.cabecalho__link{
    color: white;
}

.cab_itens_borda{
    border-bottom: 1px solid white;
}


@media screen and (min-width:768px) {



    .cabecalho__nav{
    padding-right: 1rem;
    color: var(--cor-fonte-principal);
    }

    .cabecalho__menu__img{
        display: none;
    }
    
    .cabecalho__botao{
        display: block;
    }
    
    .cabecalho__conteudo{
        display: block;
    }
}


@media screen and (min-width:1024px) {

    .cabecalho__navegacao{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.3rem;
        
    }
    
    .cabecalho__nav{
        padding-right: 2rem;
        color: var(--cor-fonte-principal);
    }
    
    .botao__nav{
        padding-right: 1rem;
        font-size: 1rem;
        
    }
    
    .botao__nav{
        color: var(--cor-fonte-principal);
    }
    
    .botao__botao{
        background-color: var(--cor-fonte-secundario);
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
    }


}